body {
    font-family: $font-family-type;
    font-size: 16px;
    line-height: 1.5;
    color: $color-main-text;
    background-color: $color-body-bg;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 150ms ease-out,color 150ms ease-out,box-shadow 150ms ease-out;
}