.formTimeEntry{
    background: $color-card-bg;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    input {
        background: transparent;
        border: none;
        color: $color-main-text;
        &::placeholder {
            color:$color-placeholder-text;
        }
        &[type="submit"] {
            background: $color-indigo-light;
            border: none;
            color: $color-ui-button-primary-text;
            padding: 8px 16px;
            border-radius: 4px;
            &:hover {

                border: none;
                color: $color-main-text;
                cursor: pointer;
            }
        }
    }
}