.timeEntryTable {
    width: 100%;
    background: $color-card-bg;
    td {
        padding: 0.5rem;
        border-bottom: 1px solid $color-card-bg;
    }
    th {
        text-align: left;
        padding: 0.5rem;
    }
    &--remove{
        cursor: pointer;
    }
}